*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --logo-color: #3E3E3E;
  --btn-text-color: #3F87F5;
  --package-btn-color: #f496d142;
  --premium-package-color: #ffffff;
  --premiun-package-btn-color: #ffffff;
  --hot-text-bg: #FF4E4E;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --footer-bg-color: #0B0D17;
  --footer-text-color: #D9DBE1;
}
body{
  font-family: 'Poppins', sans-serif;
}
.navigation-brand{
  font-family: Poppins;
  font-size: 22px;
}
.navitem-font-weight{
  font-weight: 500;
}
.bridal-slider h5{
  font-weight: 600;
  font-size: 48px;
}
.bridal-slider h5{
  font-weight: 600;
  font-size: 48px;
}
.bridal-slider p{
  font-weight: 300;
  font-size: 16px;
}
.bridal-slider a{
  color: var(--btn-text-color);
  font-weight: 500;
}
.bridal-slider-indicator [data-bs-target]{
  width: 50px;
}
.bridal-margin-top{
  margin-top: 100px;
}
.bridal-margin-bottom{
  margin-bottom: 80px;
}
.header-bottom h2, .package h2, .faq h2{
  font-weight: 600;
  font-size: 38px;
  color: #0A0826;
}
.header-bottom i{
  padding-left: 10px;
}
.package-detail ul{
  padding: 0;
}
.package-detail ul li{
  list-style: none;
}
.package-detail ul li i{
  color: var(--btn-text-color);
  display: inline-block;
  padding-right: 5px;
}
.package-detail a{
  background-color: var(--package-btn-color);
  color: var(--btn-text-color);
  font-weight: var(--font-weight-medium);
}
.premium-plan{
  border-radius: 20px;
  color: var( --premium-package-color);
}
.premium-plan h2{
  color: var(--premium-package-color);
}
.premium-plan ul li i{
  color: var(--premium-package-color);
}
.premium-plan  a{
  background-color: var(--premiun-package-btn-color);
  color: var(--btn-text-color);
  font-weight: var(--font-weight-medium);
}
.hot-package-text{
  background: var(--hot-text-bg);
  width: 25px;
  height: 16px;
  font-size: 10px;
  top: -15px;
  right: 30px;
}
.faq-accordion h2 button{
  font-weight: 500;
  font-size: 20px;
}
.contact-icon i{
  font-size: 25px;
  padding-right: 15px;
}
.contact-form input{
  padding: 13px 13px;
}
footer{
  background: var(--footer-bg-color);
  color: var(--footer-text-color);
}